<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>projet2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>jdbcURL</param-name>
    <param-value>jdbc:mysql://localhost:3306/hospitaldb</param-value>
  </context-param>
  <context-param>
    <param-name>jdbcUser</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>jdbcPassword</param-name>
    <param-value></param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>connect</display-name>
    <servlet-name>connect</servlet-name>
    <servlet-class>connect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>connect</servlet-name>
    <url-pattern>/connect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addDoctorServlet</display-name>
    <servlet-name>addDoctorServlet</servlet-name>
    <servlet-class>addDoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addDoctorServlet</servlet-name>
    <url-pattern>/addDoctorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteDoctorServlet</display-name>
    <servlet-name>deleteDoctorServlet</servlet-name>
    <servlet-class>deleteDoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteDoctorServlet</servlet-name>
    <url-pattern>/deleteDoctorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addRoomServlet</display-name>
    <servlet-name>addRoomServlet</servlet-name>
    <servlet-class>addRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addRoomServlet</servlet-name>
    <url-pattern>/addRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteroomServlet</display-name>
    <servlet-name>deleteroomServlet</servlet-name>
    <servlet-class>deleteroomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteroomServlet</servlet-name>
    <url-pattern>/deleteroomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteAppointementrServlet</display-name>
    <servlet-name>deleteAppointementrServlet</servlet-name>
    <servlet-class>deleteAppointementrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteAppointementrServlet</servlet-name>
    <url-pattern>/deleteAppointementrServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addAppointementServlet</display-name>
    <servlet-name>addAppointementServlet</servlet-name>
    <servlet-class>addAppointementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addAppointementServlet</servlet-name>
    <url-pattern>/addAppointementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletePatientServlet</display-name>
    <servlet-name>deletePatientServlet</servlet-name>
    <servlet-class>deletePatientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletePatientServlet</servlet-name>
    <url-pattern>/deletePatientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addPatientServlet</display-name>
    <servlet-name>addPatientServlet</servlet-name>
    <servlet-class>addPatientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addPatientServlet</servlet-name>
    <url-pattern>/addPatientServlet</url-pattern>
  </servlet-mapping>
</web-app>